@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hi There</h1>
    <p>This is <a href="https://docs.microsoft.com/aspnet/core">A dummy ASP.NET Core website </a>.</p>
</div>
